<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Birthday App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('countdown') }}">Home</a></li>
            <li><a href="{{ url_for('poll') }}">Poll</a></li>
            <li><a href="{{ url_for('poll_results_page') }}">Poll Results</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
